<ion-modal-view ng-controller="LanguageSelectorCtrl" bindonce="$root.i18n">

    <div class="bar bar-header">
        <button class="button button-icon ion-ios-arrow-back" ng-click="$close()"></button>
    </div>

    <div class="content has-header">
        <ion-list>
            <ion-radio ng-model="$parent.selectedLanguage"
                       bindonce ng-repeat="item in languages"
                       ng-value="item"
                       ng-change="changeSelectedLanguage()">
                <span bo-text="item.display"></span>
            </ion-radio>
        </ion-list>
    </div>

</ion-modal-view>
